@using Portfolio.BusinessLogic.DTOs.UserDTO;
@model UserLoginDTO

<div class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-5">
			<div class="card-body p-5">
				<div class="row">
					<h3 class="col-12 mb-3 text-center">Login</h3>
				</div>
				<form asp-controller="Account" asp-action="Login" method="post">
					<div class="row">
						<div class="col-12 mb-3 pb-2">
							<div class="form-outline">
								<label asp-for="@Model.Username" class="form-label"></label>
								<input asp-for="@Model.Username" class="form-control" />
								<span asp-validation-for="@Model.Username" class="text-danger" style="font-size: 14px;"></span>
							</div>
						</div>
						<div class="col-12 mb-3 pb-2">
							<div class="form-outline">
								<label asp-for="@Model.Password" class="form-label"></label>
								<input asp-for="@Model.Password" type="password" class="form-control" />
								<span asp-validation-for="@Model.Password" class="text-danger" style="font-size: 14px;"></span>
							</div>
						</div>
					</div>
					<div class="mt-1 mb-3 text-center">
						<input class="btn btn-outline-dark" style="width:150px; border-radius:18px;" type="submit" />
					</div>
					@if (TempData["alerts"] != null)
					{
						<div class="text-danger text-center" style="font-size: 14px;">@TempData["alerts"]</div>
					}
				</form>
			</div>
		</div>
	</div>
</div>